*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general_container{
    width: 100%;
    height: 100vh;
}

/* Colore per celle che NON hanno la bomba */
.active{
    background-color: cornflowerblue;
    color: white;
}

/* Colore delle bombe */
.red-bomb {
    background-color: red;
    color: #fff;
}

.hidden{
    display: none;
}

select {
    margin: 0rem 0.3125rem;
    width: 9.375rem;
}

button {
    margin: 0rem 0.3125rem;
    padding: 0rem 1.5625rem;
}

#intro-text, #endgame {
    margin: 1.875rem auto;
}

/* Griglia e celle */
.games-grid{
    width: 31.25rem;
    height: 31.25rem;
    margin-top: 1.875rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Singole celle */
.singlecell{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

/* Dimensioni delel singole celle in base alle scelte effettuate dall'utente */
.cell-easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.cell-hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.cell-crazy{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
